<div class="top-menu">

    <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="courses">
    <!-- <course-card [title]="rxjsCourse.description"></course-card>
    <course-card [title]="ngrxCourse.description"></course-card> -->

    @for (courses of coreCourse; track trackCourse; let index = $index; let count = $count; let first = $first; let last
    = $last; let even = $even; let odd = $odd) {
    <course-card (courseSelected)="onCourseSelected($event)" [index]="index" [course]="courses" [class.is-first]="first"
        [class.is-last]="last" [class.is-even]="even" [class.is-odd]="odd" />
    }

    @empty {
    <h1>No course found!</h1>
    }

    <!-- <div *ngFor="let courses of coreCourse">
        <course-card (courseSelected)="onCourseSelected($event)" [course]="courses" />
    </div> -->

</div>